<!DOCTYPE html>
<html lang="<%= config.language %>">
<%- partial('_partial/head') %>
<%- css('/css/timeline/timeline') %>
<%- js('/js/timeline/timeline-tag.js') %>
<%- js('/js/timeline/timeline.js') %>
<body>
<%- body %>
<%- partial('_partial/scripts') %>
<% if (theme?.inject?.enable === true) { %>
    <% theme?.inject?.js?.forEach((js_path) => { %>
        <% if (js_path && isJsFile(js_path)) { %>
            <%- js({
                class: 'custom-inject-js',
                src: js_path,
                'data-pjax': true
            }) %>
        <% } %>
    <% }) %>
<% } %>
</body>
</html>
